module(
    name = "{{group.repo_name}}",
    version = "{{group.version}}",
    compatibility_level = {{group.year}},
)

bazel_dep(name = "platforms", version = "0.0.6")
bazel_dep(name = "rules_cc", version = "0.0.4")

deps = use_extension("//:maven_deps.bzl", "deps")
use_repo(
    deps,
{%- for config in group.configs %}
    "bazelrio_{{config.short_name_underscore}}_toolchain_linux",
    "bazelrio_{{config.short_name_underscore}}_toolchain_macos",
    "bazelrio_{{config.short_name_underscore}}_toolchain_windows",
{%- endfor %}
)

sh_configure = use_extension("@{{group.repo_name}}//:extensions.bzl", "sh_configure")
use_repo(sh_configure, {% for config in group.configs %}"local_{{config.short_name_underscore}}"{% if not loop.last %}, {% endif %}{% endfor %})

register_toolchains(
{%- for config in group.configs %}
    "@local_{{config.short_name_underscore}}//:macos",
    "@local_{{config.short_name_underscore}}//:linux",
    "@local_{{config.short_name_underscore}}//:windows",
{%- endfor %}
)

