{
    "build_file": null,
    "build_targets": [],
    "compatibility_level": "{{group.year}}",
    "deps": [],
    "module_dot_bazel": "{{module_bazel_file}}",
    "name": "{{group.repo_name}}",
    "patch_strip": 0,
    "patches": [],
    "presubmit_yml": null,
    "strip_prefix": "{{group.repo_name}}-{{group.version.replace("+", "-")}}",
    "test_module_build_targets": [],
    "test_module_path": "test",
    "test_module_test_targets": [],
    "url": "https://github.com/bzlmodRio/{{group.repo_name}}/archive/refs/tags/{{group.version}}.tar.gz",
    "version": "{{group.sanitized_version}}"
}
